.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Adjust gap between cards */
  justify-content: center; /* Center the grid horizontally */
margin:1rem 5rem 5rem 5rem;
}
